/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url(images/forest-background.jpg); */
  background-size: cover;
  background-color: #22926A;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-family: 'Press Start 2P', serif;
  text-align: center;
  transform: scale(1, 1.2);
  font-size: 3em;
}

h2 {
}

h3 {
}

p {
  margin: 0;
}

/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
}

.container {
  margin: 0 20px;
}

section {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

canvas {
  border: 1px dashed darkcyan;
  margin: 15px auto;
  background-color: rgba(145, 139, 133, 0.85);
  border: 15px solid;
  border-color: #422d1c #704F36 #704F36 #422d1c;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

button {
  display: block;
  width: 150px;
  margin: 30px auto;
  font-size: 1.5rem;
  padding: 10px;
  border: 5px solid white;
  background: none;
  color: white;
  font-weight: bold;
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

section.testimonials {
  /* // ... */
}

section.testimonials .button {
  margin-bottom: 10px;
}
